In [37]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.
Requirement already satisfied: kafka-python in c:\users\hvanka\appdata\roaming\python\python39\site-packages (2.0.2)

In [38]:
pip install confluent-kafka

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: confluent-kafka in c:\users\hvanka\appdata\roaming\python\python39\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [45]:
producer = KafkaProducer(bootstrap_servers=['18.222.144.249:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [46]:
producer.send('demo_testing3', value={'name1':'shiva'})

In [47]:
df = pd.read_csv("indexProcessed.csv")
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,12/31/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,1/2/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,1/5/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,1/6/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,1/7/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,5/25/2021,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0,4625.367578
104220,J203.JO,5/26/2021,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0,4627.575859
104221,J203.JO,5/27/2021,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0,4685.817500
104222,J203.JO,5/28/2021,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0,4728.840157
104223,J203.JO,5/31/2021,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0,4757.482734

In [50]:
# while True:
#     dict_stock = df.sample(1).to_dict(orient="records")[0]
#     producer.send('demo_testing3', value=dict_stock)
#     sleep(10)

In [32]:
# producer.flush()  clears data from kafka server